body {
    background-color: rgba(5, 30, 63, 0.733);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.container {
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    width: 35vh;
    position: relative;

    margin: 5vh 0 auto;
}

.warn-div {
    background-color: antiquewhite;
    border-radius: 5px;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.input-form {
    background-color: antiquewhite;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    max-height: 90px;
}

.duty-title {
    margin-bottom: 5px;
}

.input-form .duty-title {
    margin: 0;
}

.left-div {
    max-width: 220px;
    width: 100%;
    text-align: left;
}

.right-div {
    max-width: 150px;
    width: 100%;
    text-align: right;
}

.todo-div {
    display: flex;
    flex-direction: row;
    max-width: 300px;
    justify-content: space-between;
    margin-top: 15px;
}

.todo-input {
    margin-right: 5px;
    font-style: italic;
    width: 100%;
    max-width: 175px;
}

.duty-container {
    background-color: antiquewhite;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 25px 10px 25px;
    /* height: 5%; */
    row-gap: 0.8rem;
}

.todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}